 body {
            background: #286163;
           background: linear-gradient(0deg, rgba(40, 97, 99, 1) 0%, rgba(253, 187, 45, 1) 100%);
            font-family: 'Georgia', serif; 
            line-height: 1.6;
            color: #333;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #8B4513; 
            color: #D4AF37; 
            text-align: center;
            padding: 2rem;
        }
        .header img{
         height: 100px;
        }

        p{
            font-weight: bold;
            color: rgb(248, 173, 43);
        }

        nav {
            margin-top: 15px;
            display: flex;
            justify-content: center;
           word-spacing: 20px;
            font-weight: bold;
           
        }

        .banner {
            background-color: #D4AF37;
            color: #f6f9fa;
            text-align: center;
            padding: 15px;
            font-size: 1.2rem;
            font-weight: bold;
        }
        .products {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 40px 20px;
        }
        .product {
            background: #84dadb;
            background: linear-gradient(0deg, rgba(132, 218, 219, 1) 0%, rgba(253, 187, 45, 1) 100%);
            border: 1px solid #D4AF37;
            border-radius: 8px;
            width: 300px;
            padding: 15px;
            text-align: center;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            transition: transform 0.3s ;
        }

        .product:hover {
            transform: translate(10px)
        }

        .product img {
            width: 100%;
            height: 200px;
           
            border-radius: 4px;
        }

        h3 {
            color: #8B4513;
        }

        .price {
            font-weight: bold;
            color: #B8860B;
            font-size: 1.2rem;
        }